fastapi
uvicorn[standard]
python-telegram-bot
supabase
requests
python-dotenv
pytz
python-dateutil
stripe
# Build frissítés kényszerítése: 2025.08.26
jinja2
python-multipart
passlib
bcrypt==3.2.0
itsdangerous
