{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="container hero-content">
        <h1>Nyerj a meccseken. Adat-alapú tippek, automatizálva.</h1>
        <p>Intelligens botunk minden nap több száz mérkőzést elemez, hogy neked már csak a zöldülő szelvényekkel kelljen foglalkoznod.</p>
        
        <div id="login-section" class="form-container">
            <div class="form-tabs">
                <button class="tab-link active" onclick="openForm(event, 'login')">Bejelentkezés</button>
                <button class="tab-link" onclick="openForm(event, 'register')">Regisztráció</button>
            </div>

            <div id="login" class="tab-content" style="display: block;">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-mail cím" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Jelszó" required>
                    </div>
                    <button type="submit" class="button">Bejelentkezés</button>
                </form>
            </div>

            <div id="register" class="tab-content">
                <form action="/register" method="post">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-mail cím" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Jelszó" required>
                    </div>
                    <button type="submit" class="button">Regisztráció</button>
                </form>
            </div>
        </div>
        </div>
</section>

{% endblock %}
